# Configuración de la base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mini_user_api
DB_USER=postgres
DB_PASSWORD=123456

# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de seguridad
JWT_SECRET=tu_jwt_secret_muy_seguro_aqui
